<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<h1>login</h1>
	<form action="" method="POST">
		<label for="">ID：</label>
		<input type="text" name="userid" id="">
		<label for="">Password：</label>
		<input type="text" name="password" id="">
		<input type="submit" value="ログイン">
	</form>
	<a href="register">新規登録</a>
	<p>{{ .abc }}</p>
</body>
</html>
